In [21]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [94]:
import numpy as np
from datetime import date
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
%matplotlib inline
from newsapi import NewsApiClient
import nltk
from statistics import mean 
from dotenv import load_dotenv
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import json
import requests
load_dotenv()
import os
from GoogleNews import GoogleNews
%matplotlib inline

In [23]:
alpaca_api_key = os.getenv("API_ALPACA_KEY")
alpaca_secret_key = os.getenv("API_ALPACA_SECRET_KEY")
type(alpaca_api_key)
api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')

In [24]:
assets = api.list_assets()

# Keep only tradeable assets
tradeable = [asset for asset in assets if asset.tradable ]

In [25]:
ticker = "TSLA"

# Set timeframe to '1D'
timeframe = '1D'

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp('2018-07-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-07-05', tz='America/New_York').isoformat()

# Get 1 year's worth of historical data for TSLA
df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

df.head()

                               TSLA
                               open    high     low     close    volume
2018-07-02 00:00:00-04:00  360.2800  364.78  329.85  335.0700  14936701
2018-07-03 00:00:00-04:00  331.9100  332.49  309.69  310.9247   9605990
2018-07-05 00:00:00-04:00  313.7600  314.39  296.22  309.1100  13989015
2018-07-06 00:00:00-04:00  304.9545  312.07  302.00  308.9100   7097253
2018-07-09 00:00:00-04:00  311.8553  318.52  308.00  318.2900   5743049

In [26]:
# Drop Outer Table Level
df = df.droplevel(axis=1, level=0)

# Use the drop function to drop extra columns
df.drop(columns=['open', 'high', 'low'], inplace=True)

# Since this is daily data, we can keep only the date (remove the time) component of the data
df.index = df.index.date

df.head()

               close    volume
2018-07-02  335.0700  14936701
2018-07-03  310.9247   9605990
2018-07-05  309.1100  13989015
2018-07-06  308.9100   7097253
2018-07-09  318.2900   5743049

In [27]:
df['daily_returns_tsla']=df['close'].pct_change()
df['daily_returns_tsla_volume']=df['volume'].pct_change()
df.dropna(inplace=True)
df.drop(columns=['close', 'volume'], inplace=True)
df.head()

            daily_returns_tsla  daily_returns_tsla_volume
2018-07-03           -0.072060                  -0.356887
2018-07-05           -0.005836                   0.456280
2018-07-06           -0.000647                  -0.492655
2018-07-09            0.030365                  -0.190807
2018-07-10            0.012818                   0.236055

In [28]:
y=[]
dr=df['daily_returns_tsla']
for i in dr:
  if i>0:
    y.append(1)
  else:
    y.append(0)
df['target']=y
df.head()

            daily_returns_tsla  daily_returns_tsla_volume  target
2018-07-03           -0.072060                  -0.356887       0
2018-07-05           -0.005836                   0.456280       0
2018-07-06           -0.000647                  -0.492655       0
2018-07-09            0.030365                  -0.190807       1
2018-07-10            0.012818                   0.236055       1

In [29]:
ticker = "TLT"

# Set timeframe to '1D'
timeframe = '1D'

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp('2018-07-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-07-05', tz='America/New_York').isoformat()


# Get 1 year's worth of historical data for TSLA
df_tlt = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

df_tlt.head()

                              TLT
                             open    high       low   close   volume
2018-07-02 00:00:00-04:00  121.74  121.75  121.2901  121.36  8247467
2018-07-03 00:00:00-04:00  121.53  122.03  121.5300  121.98  3087020
2018-07-05 00:00:00-04:00  122.06  122.53  122.0100  122.33  3223311
2018-07-06 00:00:00-04:00  122.75  122.92  122.4800  122.71  3866259
2018-07-09 00:00:00-04:00  122.05  122.21  121.9000  121.96  4645923

In [30]:
df_tlt = df_tlt.droplevel(axis=1, level=0)

# Use the drop function to drop extra columns
df_tlt.drop(columns=['open', 'high', 'low'], inplace=True)

# Since this is daily data, we can keep only the date (remove the time) component of the data
df_tlt.index = df_tlt.index.date

df_tlt.head()

             close   volume
2018-07-02  121.36  8247467
2018-07-03  121.98  3087020
2018-07-05  122.33  3223311
2018-07-06  122.71  3866259
2018-07-09  121.96  4645923

In [31]:
df_tlt['daily_returns_tlt']=df_tlt['close'].pct_change()
df_tlt['daily_returns_tlt_volume']=df_tlt['volume'].pct_change()
df_tlt.drop(columns=['close', 'volume'], inplace=True)
df_tlt.dropna(inplace=True)
df_tlt.head()

            daily_returns_tlt  daily_returns_tlt_volume
2018-07-03           0.005109                 -0.625701
2018-07-05           0.002869                  0.044150
2018-07-06           0.003106                  0.199468
2018-07-09          -0.006112                  0.201659
2018-07-10          -0.000082                 -0.079239

In [32]:
features_df=pd.concat([df_tlt,df],axis=1,join='inner')
features_df

,daily_returns_tlt,daily_returns_tlt_volume,daily_returns_tsla,daily_returns_tsla_volume,target
2018-07-03,0.005109,-0.625701,-0.072060,-0.356887,0
2018-07-05,0.002869,0.044150,-0.005836,0.456280,0
2018-07-06,0.003106,0.199468,-0.000647,-0.492655,0
2018-07-09,-0.006112,0.201659,0.030365,-0.190807,1
2018-07-10,-0.000082,-0.079239,0.012818,0.236055,1
...,...,...,...,...,...
2020-06-26,0.010827,0.203527,-0.025579,-0.124319,0
2020-06-29,-0.003433,-0.437685,0.051137,0.128743,1
2020-06-30,-0.004571,0.964535,0.068433,0.856565,1
2020-07-01,-0.003233,-0.134947,0.037572,-0.205057,1
2020-07-02,0.001102,-0.365370,0.079729,0.202788,1

In [13]:
# Download/Update the VADER Lexicon
nltk.download('vader_lexicon')

# Initialize the VADER sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/aljohara/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [14]:
dates=pd.DataFrame({'Date':pd.Series(features_df.index)})
dates.head()

         Date
0  2018-07-03
1  2018-07-05
2  2018-07-06
3  2018-07-09
4  2018-07-10

# Fetch news articles

In [16]:
articles_df = pd.DataFrame(columns=['date','text','source', 'neg', 'neu', 'pos', 'compound','stock_api_sent'])

In [18]:
# Read your api key environment variable

api_key = os.getenv("gnews")

In [19]:
# Create a newsapi client
googlenews = GoogleNews(api_key)

In [40]:
#GNEWS:
import requests
import json

# Create parameterized url
request_url = "https://gnews.io/api/v3/search"#?q=example&token=API-Token"
query = 'tesla'
api_key = '8240e4a18640f41a85ed6f17610769f3'
#params = {"q":query,'token':api_key,'max':'100','mindate':'2018-01-03'}


import time
n = len(dates)
for i in range(0,n,5):
    
    date = dates.loc[i]['Date']
    # minus 1 week
    date_begin = date - pd.to_timedelta(1, unit='w')
    print(date,date_begin)

    # change it to MMDDYYYY formate for stocknewsapi call
    date = str(date)
    date_begin = str(date_begin)
    params = {"q":query,'token':api_key,'max':'100','mindate':date_begin,'maxdate':date}
    # Submit request and format output as json
    response_data = requests.get(request_url,params=params).json()
    count_articles = response_data['articleCount']
    try:
        returned_articles_gapi = response_data['articles']
    except:
        print('error', response_data)
    # add to articles_df
    for article in returned_articles_gapi:
        date = article['publishedAt']
        date = pd.to_datetime(date).date()
        text = article['title'] + ' '
        text += article['description']
        articles_df  = articles_df.append({'date':date,'text':text, 'source':'gapi'},ignore_index=True)
        
        time.sleep(1)

2018-07-03 2018-06-26
2018-07-11 2018-07-04
2018-07-18 2018-07-11
2018-07-25 2018-07-18
2018-08-01 2018-07-25
2018-08-08 2018-08-01
2018-08-15 2018-08-08
2018-08-22 2018-08-15
2018-08-29 2018-08-22
2018-09-06 2018-08-30
2018-09-13 2018-09-06
2018-09-20 2018-09-13
2018-09-27 2018-09-20
2018-10-04 2018-09-27
2018-10-11 2018-10-04
2018-10-18 2018-10-11
2018-10-25 2018-10-18
2018-11-01 2018-10-25
2018-11-08 2018-11-01
2018-11-15 2018-11-08
2018-11-23 2018-11-16
2018-11-30 2018-11-23
2018-12-10 2018-12-03
2018-12-17 2018-12-10
2018-12-24 2018-12-17
2019-01-02 2018-12-26
2019-01-09 2019-01-02
2019-01-16 2019-01-09
2019-01-24 2019-01-17
2019-01-31 2019-01-24
2019-02-07 2019-01-31
2019-02-14 2019-02-07
2019-02-22 2019-02-15
2019-03-01 2019-02-22
2019-03-08 2019-03-01
2019-03-15 2019-03-08
2019-03-22 2019-03-15
2019-03-29 2019-03-22
2019-04-05 2019-03-29
2019-04-12 2019-04-05
2019-04-22 2019-04-15
2019-04-29 2019-04-22
2019-05-06 2019-04-29
2019-05-13 2019-05-06
2019-05-20 2019-05-13
2019-05-28 2019-05-21
2019-06-04 2019-05-28
2019-06-11 2019-06-04
2019-06-18 2019-06-11
2019-06-25 2019-06-18
2019-07-02 2019-06-25
2019-07-10 2019-07-03
2019-07-17 2019-07-10
2019-07-24 2019-07-17
2019-07-31 2019-07-24
2019-08-07 2019-07-31
2019-08-14 2019-08-07
2019-08-21 2019-08-14
2019-08-28 2019-08-21
2019-09-05 2019-08-29
2019-09-12 2019-09-05
2019-09-19 2019-09-12
2019-09-26 2019-09-19
2019-10-03 2019-09-26
2019-10-10 2019-10-03
2019-10-17 2019-10-10
2019-10-24 2019-10-17
2019-10-31 2019-10-24
2019-11-07 2019-10-31
2019-11-14 2019-11-07
2019-11-21 2019-11-14
2019-11-29 2019-11-22
2019-12-06 2019-11-29
2019-12-13 2019-12-06
2019-12-20 2019-12-13
2019-12-30 2019-12-23
2020-01-07 2019-12-31
2020-01-14 2020-01-07
2020-01-22 2020-01-15
2020-01-29 2020-01-22
2020-02-05 2020-01-29
2020-02-12 2020-02-05
2020-02-20 2020-02-13
2020-02-27 2020-02-20
2020-03-05 2020-02-27
2020-03-12 2020-03-05
2020-03-19 2020-03-12
2020-03-26 2020-03-19
2020-04-02 2020-03-26
2020-04-09 2020-04-02
2020-04-17 2020-04-10
2020-04-24 2020-04-17
2020-05-01 2020-04-24
2020-05-08 2020-05-01
2020-05-15 2020-05-08
2020-05-22 2020-05-15
2020-06-01 2020-05-25
2020-06-08 2020-06-01
2020-06-15 2020-06-08
2020-06-22 2020-06-15

KeyError: 'articleCount'

In [71]:
sentiments = []

for text in articles_df:
    #try:
    
    
    sentiment = analyzer.polarity_scores(text)
    #print(sentiment)
    pos = sentiment["pos"]
    neu = sentiment["neu"]
    neg = sentiment["neg"]
    compound = sentiment["compound"]
    #print(text, pos, neu, neg),sentiment["compound"]
    
    
    sentiments.append({
        "text": text,
        "compound": compound})

In [72]:
gnews_articles = articles_df.drop(columns=['neg', 'neu', 'pos', 'stock_api_sent'])

In [73]:
gnews_articles = gnews_articles[gnews_articles['source'] != 'stocknews']

In [74]:
gnews_articles.drop(columns=['source'], inplace=True)

In [77]:
gnews_articles

           date                                               text compound
0    2018-07-02  Construction workers offer tips to stay cool T...   0.3818
1    2018-07-01  NYT ed board: Time for new Dem leadership TRAD...  -0.4019
2    2018-06-30  Elon Musk stole my dad’s farting unicorn art, ...   0.7096
3    2018-06-29  Evergreen artist wants Elon Musk to puff up pa...   -0.296
4    2018-06-29  Virgin Orbit Gears Up for Captive Carry Test F...   0.5423
..          ...                                                ...      ...
983  2020-06-14  Tesla's US-made Model 3 now has standard wirel...   0.5023
984  2020-06-14  How Did Tesla Become The Most Valuable Car Com...   0.8396
985  2020-06-14  Shopify Stock Showed Relative Strength Under S...   0.4767
986  2020-06-14  Tesla’s US-made Model 3 vehicles now come equi...        0
987  2020-06-13  Global Commercial Cars On-board Charger CPU Ma...   0.4019

[988 rows x 3 columns]

In [358]:
gnews_articles['date']
#gnews_articles.set_index('date', inplace=True)

0      2018-07-02
1      2018-07-01
2      2018-06-30
3      2018-06-29
4      2018-06-29
          ...
983    2020-06-14
984    2020-06-14
985    2020-06-14
986    2020-06-14
987    2020-06-13
Name: date, Length: 988, dtype: object

In [65]:
len(set(final.index))

499

In [98]:
dates = pd.read_csv('dates.csv')

In [102]:
dates = dates.set_index(dates['date'], drop=False, append=False, inplace=False, verify_integrity=False).drop('date', 1)

In [66]:
final

,daily_returns_tlt,daily_returns_tlt_volume,daily_returns_tsla,daily_returns_tsla_volume,target,mean_compound
2018-07-03,NaN,NaN,-0.072060,NaN,0,0.109983
2018-07-05,0.005109,-0.625701,-0.005836,-0.356887,0,0.077200
2018-07-06,0.002869,0.044150,-0.000647,0.456280,0,0.025733
2018-07-09,0.003106,0.199468,0.030365,-0.492655,1,0.438533
2018-07-10,-0.006112,0.201659,0.012818,-0.190807,1,0.454583
...,...,...,...,...,...,...
2020-06-19,0.010775,0.976910,-0.003436,1.063577,0,NaN
2020-06-22,0.000616,-0.382424,-0.006027,-0.573621,0,NaN
2020-06-23,0.000123,-0.069760,0.007159,-0.230835,1,NaN
2020-06-24,-0.006572,0.124087,-0.040742,-0.015284,0,NaN
2020-06-25,0.010705,0.314312,0.026154,0.782926,1,NaN

In [103]:
#gnews_articles['date'].to_list()
to_keep = pd.to_datetime(dates.index).date

In [104]:
copy_gnews_articles = gnews_articles.copy()
idxs = copy_gnews_articles.index
for idx in copy_gnews_articles.index:
    art = gnews_articles.iloc[idx]
    date = art['date']
    if date not in to_keep:
        copy_gnews_articles = copy_gnews_articles.drop(idx)

In [79]:
gnews_articles

           date                                               text compound
0    2018-07-02  Construction workers offer tips to stay cool T...   0.3818
1    2018-07-01  NYT ed board: Time for new Dem leadership TRAD...  -0.4019
2    2018-06-30  Elon Musk stole my dad’s farting unicorn art, ...   0.7096
3    2018-06-29  Evergreen artist wants Elon Musk to puff up pa...   -0.296
4    2018-06-29  Virgin Orbit Gears Up for Captive Carry Test F...   0.5423
..          ...                                                ...      ...
983  2020-06-14  Tesla's US-made Model 3 now has standard wirel...   0.5023
984  2020-06-14  How Did Tesla Become The Most Valuable Car Com...   0.8396
985  2020-06-14  Shopify Stock Showed Relative Strength Under S...   0.4767
986  2020-06-14  Tesla’s US-made Model 3 vehicles now come equi...        0
987  2020-06-13  Global Commercial Cars On-board Charger CPU Ma...   0.4019

[988 rows x 3 columns]

In [105]:
copy_gnews_articles.sort_values(by=['date'], inplace=True)

In [106]:
copy_gnews_articles.to_csv('gnews_texts_compound.csv')

In [301]:
pd.merge(gnews_articles, final, on='index')

KeyError: 'index'

In [282]:
final

,daily_returns_tlt,daily_returns_tlt_volume,daily_returns_tsla,daily_returns_tsla_volume,target,mean_compound
2018-07-03,NaN,NaN,-0.072060,NaN,0,-0.016740
2018-07-05,0.005109,-0.625701,-0.005836,-0.356887,0,-0.450450
2018-07-06,0.002869,0.044150,-0.000647,0.456280,0,-0.423822
2018-07-09,0.003106,0.199468,0.030365,-0.492655,1,0.122037
2018-07-10,-0.006112,0.201659,0.012818,-0.190807,1,0.097726
...,...,...,...,...,...,...
2020-06-19,0.010775,0.976910,-0.003436,1.063577,0,0.201724
2020-06-22,0.000616,-0.382424,-0.006027,-0.573621,0,0.259793
2020-06-23,0.000123,-0.071143,0.007159,-0.233255,1,0.141681
2020-06-24,-0.006572,0.125760,-0.040742,-0.012175,0,-0.075773
2020-06-25,0.010705,0.314312,0.026154,0.782926,1,-0.194380

In [287]:
#gnews_articles.index = pd.to_datetime(final.index)
#for date in new
#gnews_articles['date']= pd.to_datetime(final['date'], format='%b %d, %Y')
gnews_art = gnews_articles.merge(final, left_index=True, right_index=True)
#gnews_articles.index = pd.to_datetime(final.index)
#new_df=pd.concat([gnews_articles.reset_index(drop=True), final.reset_index(drop=True)], axis=1)
#gnews_articles.merge(gnews_articles, how='inner', on=date, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

In [46]:
# Read your api key environment variable
stocknewsapi_key = os.getenv("stock_news_api")

In [49]:
request_url = "https://stocknewsapi.com/api/v1"
query = 'TSLA'
#stocknewsapi_key = 'plmgq3v5h7hgqb27q4gqajk57bzggfk3la8k92tc'


params = {"tickers":query,'token':stocknewsapi_key,'items':'50','fallback':'true'}
# Submit request and format output
response_data = requests.get(request_url,params=params).json()

In [50]:
n = len(dates)
for i in range(n):
    date = dates.loc[i]['Date']
    # minus 1 week
    date_begin = date - pd.to_timedelta(1, unit='w')
    print(date,date_begin)

    # change it to MMDDYYYY formate for stocknewsapi call
    date = str(date)
    date = date.split('-')
    date = date[1]+date[2]+date[0]
    date_begin = str(date_begin)
    date_begin = date_begin.split('-')
    date_begin = date_begin[1]+date_begin[2]+date_begin[0]
    
    date = date_begin+'-'+date
    print(date)
    params = {"tickers":query,'token':stocknewsapi_key,'items':'50','fallback':'true','date':date}
    # Submit request and format output as json
    response_data = requests.get(request_url,params=params).json()
    articles = response_data['data']
    #print(response_data)
    #break
     # add to articles_df
    for article in articles:
        date = article['date']
        date = pd.to_datetime(date).date()
        text = article['title'] + ' '
        text += article['text']
        sentiment = article['sentiment']
        articles_df  = articles_df.append({'date':date,'text':text, 'source':'stocknews', 'stock_api_sent': sentiment},ignore_index=True)
        
        
        # ignore non article types
    #if article['type'] != 'Article':
        #continue
    #text = ''
    #text += article['title'] + ' '
    #text += article['text']
    #sentiment = article['sentiment']
    
    #processed_articles.append(text)
    #stockapi_sentiment.append(sentiment)

2018-07-03 2018-06-26
06262018-07032018

TypeError: can only concatenate str (not "NoneType") to str

In [51]:
# process sentiment
articles_df['stock_api_sent'] = articles_df['stock_api_sent'].fillna(0.5)
articles_df

,date,text,source,neg,neu,pos,compound,stock_api_sent
0,2018-07-02,Construction workers offer tips to stay cool T...,gapi,NaN,NaN,NaN,NaN,0.5
1,2018-07-01,NYT ed board: Time for new Dem leadership TRAD...,gapi,NaN,NaN,NaN,NaN,0.5
2,2018-06-30,"Elon Musk stole my dad’s farting unicorn art, ...",gapi,NaN,NaN,NaN,NaN,0.5
3,2018-06-29,Evergreen artist wants Elon Musk to puff up pa...,gapi,NaN,NaN,NaN,NaN,0.5
4,2018-06-29,Virgin Orbit Gears Up for Captive Carry Test F...,gapi,NaN,NaN,NaN,NaN,0.5
...,...,...,...,...,...,...,...,...
1013,2020-07-10,Italy's rebound pulls European stocks out of l...,stocknews,NaN,NaN,NaN,NaN,Negative
1014,2020-07-10,Don't think we'll see a major reversal in equi...,stocknews,NaN,NaN,NaN,NaN,Neutral
1015,2020-07-10,IEA slightly improves oil demand forecast for ...,stocknews,NaN,NaN,NaN,NaN,Positive
1016,2020-07-10,IEA slightly improves oil demand forecast for ...,stocknews,NaN,NaN,NaN,NaN,Positive
1017,2020-07-10,IEA slightly improves oil demand forecast for ...,stocknews,NaN,NaN,NaN,NaN,Positive

In [52]:
n = len(articles_df)
for i in range(n):
    article = articles_df.iloc[i]
    #print(article)
    text = article['text']
    sentiment = analyzer.polarity_scores(text)    
    for sent in sentiment:
        articles_df.loc[i][sent] = sentiment[sent]

In [53]:
articles_df[articles_df['date']>pd.to_datetime('2018-06-26')]

,date,text,source,neg,neu,pos,compound,stock_api_sent
0,2018-07-02,Construction workers offer tips to stay cool T...,gapi,0,0.913,0.087,0.3818,0.5
1,2018-07-01,NYT ed board: Time for new Dem leadership TRAD...,gapi,0.104,0.83,0.066,-0.4019,0.5
2,2018-06-30,"Elon Musk stole my dad’s farting unicorn art, ...",gapi,0,0.884,0.116,0.7096,0.5
3,2018-06-29,Evergreen artist wants Elon Musk to puff up pa...,gapi,0.044,0.956,0,-0.296,0.5
4,2018-06-29,Virgin Orbit Gears Up for Captive Carry Test F...,gapi,0,0.897,0.103,0.5423,0.5
...,...,...,...,...,...,...,...,...
1013,2020-07-10,Italy's rebound pulls European stocks out of l...,stocknews,0.077,0.876,0.047,-0.09,Negative
1014,2020-07-10,Don't think we'll see a major reversal in equi...,stocknews,0,0.819,0.181,0.6486,Neutral
1015,2020-07-10,IEA slightly improves oil demand forecast for ...,stocknews,0.055,0.763,0.182,0.7678,Positive
1016,2020-07-10,IEA slightly improves oil demand forecast for ...,stocknews,0.055,0.763,0.182,0.7678,Positive
1017,2020-07-10,IEA slightly improves oil demand forecast for ...,stocknews,0.055,0.763,0.182,0.7678,Positive

In [54]:
articles_df

,date,text,source,neg,neu,pos,compound,stock_api_sent
0,2018-07-02,Construction workers offer tips to stay cool T...,gapi,0,0.913,0.087,0.3818,0.5
1,2018-07-01,NYT ed board: Time for new Dem leadership TRAD...,gapi,0.104,0.83,0.066,-0.4019,0.5
2,2018-06-30,"Elon Musk stole my dad’s farting unicorn art, ...",gapi,0,0.884,0.116,0.7096,0.5
3,2018-06-29,Evergreen artist wants Elon Musk to puff up pa...,gapi,0.044,0.956,0,-0.296,0.5
4,2018-06-29,Virgin Orbit Gears Up for Captive Carry Test F...,gapi,0,0.897,0.103,0.5423,0.5
...,...,...,...,...,...,...,...,...
1013,2020-07-10,Italy's rebound pulls European stocks out of l...,stocknews,0.077,0.876,0.047,-0.09,Negative
1014,2020-07-10,Don't think we'll see a major reversal in equi...,stocknews,0,0.819,0.181,0.6486,Neutral
1015,2020-07-10,IEA slightly improves oil demand forecast for ...,stocknews,0.055,0.763,0.182,0.7678,Positive
1016,2020-07-10,IEA slightly improves oil demand forecast for ...,stocknews,0.055,0.763,0.182,0.7678,Positive
1017,2020-07-10,IEA slightly improves oil demand forecast for ...,stocknews,0.055,0.763,0.182,0.7678,Positive

# Machine Learning Features

In [55]:
import datetime
new_features_df = features_df.copy()
new_features_df.drop(columns=['daily_returns_tlt','daily_returns_tlt_volume','daily_returns_tsla','daily_returns_tsla_volume'],inplace=True)
new_features_df.index = pd.to_datetime(new_features_df.index)

new_features_df = features_df.shift(1)
new_features_df['target'] = features_df['target']

i = 0
for date in new_features_df.index:
    start_date = date - pd.to_timedelta(3, unit='d')
    #print(start_date)
    #print(date)
    mask = (articles_df['date'] > start_date) & (articles_df['date'] <= date)
    #'''
    count_articles = articles_df.loc[mask].count()
    means = articles_df.loc[mask].mean()
    maxs = articles_df.loc[mask].max(axis=0)
    mins = articles_df.loc[mask].min(axis=0)
    
    features = {}

    for sent in ['neg','neu','pos','compound']:
        features['mean_'+sent] = means[sent]
        features['max_'+sent] = maxs[sent]
        features['min_'+sent] = mins[sent]
    
    for feature in features:
        new_features_df.loc[date,feature] = features[feature]
    # '''
    new_features_df.loc[date,'daily_returns_tsla'] = features_df.loc[date,'daily_returns_tsla']
    #new_features_df.iloc[i] = features_df.iloc[i-1].drop(columns='target')
    i += 1

In [56]:
new_features_df.loc[pd.to_datetime('2018-07-03').date(),'mean_neg'] = 1

In [155]:
new_features_df.dropna(inplace=True)

In [57]:
new_features_df

,daily_returns_tlt,daily_returns_tlt_volume,daily_returns_tsla,daily_returns_tsla_volume,target,mean_neg,max_neg,min_neg,mean_neu,max_neu,min_neu,mean_pos,max_pos,min_pos,mean_compound,max_compound,min_compound
2018-07-03,NaN,NaN,-0.072060,NaN,0,1.000000,0.104,0.0,0.933167,1.000,0.830,0.049500,0.087,0.000,0.109983,0.3818,-0.4019
2018-07-05,0.005109,-0.625701,-0.005836,-0.356887,0,0.000000,0.000,0.0,0.970000,0.970,0.970,0.030000,0.030,0.030,0.077200,0.0772,0.0772
2018-07-06,0.002869,0.044150,-0.000647,0.456280,0,0.000000,0.000,0.0,0.990000,1.000,0.970,0.010000,0.030,0.000,0.025733,0.0772,0.0000
2018-07-09,0.003106,0.199468,0.030365,-0.492655,1,0.026333,0.079,0.0,0.855333,0.876,0.832,0.118333,0.168,0.063,0.438533,0.8176,-0.2023
2018-07-10,-0.006112,0.201659,0.012818,-0.190807,1,0.016333,0.053,0.0,0.888500,0.961,0.832,0.095167,0.168,0.039,0.454583,0.8176,-0.0516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-26,0.002577,-0.098945,-0.025579,-0.176231,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-29,0.010827,0.203527,0.051137,-0.124319,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-30,-0.003433,-0.437685,0.068433,0.128743,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-01,-0.004571,0.964535,0.037572,0.856565,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-02,-0.003233,-0.134947,0.079729,-0.205057,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
final = new_features_df

In [59]:
final.drop(columns= ['mean_neg', 'max_neg','min_neg','mean_neu', 'max_neu', "min_neu" , "mean_pos", "min_pos", "max_compound", "min_compound", "max_pos"], inplace = True)

In [60]:
final.drop(pd.to_datetime('2020-06-26'), inplace=True)

In [61]:
final.drop(pd.to_datetime('2020-06-29'), inplace=True)

In [62]:
final.drop(pd.to_datetime('2020-06-30'), inplace=True)

In [63]:
final.drop(pd.to_datetime('2020-07-01'), inplace=True)

In [64]:
final.drop(pd.to_datetime('2020-07-02'), inplace=True)

In [218]:
final.to_csv('gnewscompund.csv')

In [177]:
final.drop(columns=['daily_returns_tlt','daily_returns_tlt_volume','daily_returns_tsla','daily_returns_tsla_volume', 'target, mean_neg', 'max_neg', 'min_neg', ])

,target,mean_neg,max_neg,min_neg,mean_neu,max_neu,min_neu,mean_pos,max_pos,min_pos,mean_compound,max_compound,min_compound
2018-07-03,0,0.058600,0.155,0.0,0.870000,1.00,0.719,0.071067,0.125,0.0,-0.016740,0.3818,-0.4019
2018-07-05,0,0.143583,0.158,0.0,0.801417,0.97,0.719,0.054583,0.125,0.0,-0.450450,0.0772,-0.6486
2018-07-06,0,0.105333,0.158,0.0,0.891333,1.00,0.842,0.003333,0.030,0.0,-0.423822,0.0772,-0.6486
2018-07-09,1,0.058259,0.212,0.0,0.878593,1.00,0.752,0.063148,0.168,0.0,0.122037,0.8176,-0.7506
2018-07-10,1,0.054905,0.212,0.0,0.893214,1.00,0.752,0.051881,0.168,0.0,0.097726,0.8176,-0.7506
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-26,0,0.103908,0.287,0.0,0.845415,1.00,0.592,0.050782,0.205,0.0,-0.231515,0.5859,-0.9136
2020-06-29,1,0.031419,0.113,0.0,0.908140,1.00,0.669,0.060442,0.331,0.0,0.081967,0.9460,-0.4767
2020-06-30,1,0.027756,0.259,0.0,0.887436,1.00,0.669,0.084808,0.331,0.0,0.230651,0.9460,-0.7506
2020-07-01,1,0.031800,0.259,0.0,0.862476,1.00,0.638,0.105743,0.362,0.0,0.287041,0.9460,-0.7506
2020-07-02,1,0.037153,0.420,0.0,0.855279,1.00,0.580,0.107586,0.362,0.0,0.297051,0.9097,-0.7960

In [82]:
new_features_df['target'] = new_features_df['target'].astype(int)

In [ ]:
y = new_features_df["target"]
X = new_features_df.drop(columns="target")

from sklearn.preprocessing import StandardScaler
X = StandardScaler().fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
print(X_train.shape)
print(X_test.shape)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.dummy import DummyClassifier
classifier = SVC(C=1)
classifier.fit(X_train,y_train)

In [ ]:
from collections import Counter
print(Counter(y_train))
print(Counter(y_test))

In [ ]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

In [ ]:
predictions = classifier.predict(X_test)
results = pd.DataFrame({
    "Prediction": predictions, 
    "Actual": y_test,
    'change': X_test['daily_returns_tsla']
}).reset_index(drop=True)
print(results)

In [ ]:
results[results['Prediction']==results['Actual']]['change'].abs().mean()

In [ ]:
results[results['Prediction']!=results['Actual']]['change'].abs().mean()